.library-dashboard,
body:has(.library-dashboard) [data-mobile='true'][data-sidebar='sidebar'],
body:has(.library-dashboard) [data-slot='dropdown-menu-content'],
body:has(.library-dashboard) [data-slot='sheet-content'],
body:has(.library-dashboard) [data-slot='tooltip-content'] {
  --background: #ffffff;
  --foreground: #0a1b39;
  --card: #ffffff;
  --card-foreground: #0a1b39;
  --popover: #ffffff;
  --popover-foreground: #0a1b39;
  --primary: #ff5150;
  --primary-foreground: #ffffff;
  --secondary: #f7f7f7;
  --secondary-foreground: #242424;
  --muted: #f8f8f8;
  --muted-foreground: #858585;
  --accent: #edf3fc;
  --accent-foreground: #485066;
  --destructive: #ff5150;
  --border: #ededed;
  --input: var(--secondary);
  --ring: #ff5150;
  --chart-1: #ff5150;
  --chart-2: #0a1b39;
  --chart-3: #edf3fc;
  --chart-4: #858585;
  --chart-5: #242424;
  --radius: 0.5rem;
  --sidebar: #ffffff;
  --sidebar-foreground: #0a1b39;
  --sidebar-primary: #ff5150;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fff2f2;
  --sidebar-accent-foreground: #ff5150;
  --sidebar-border: #e4e4e4;
  --sidebar-ring: #ff5150;
  --input-placeholder: #485066;
  background-color: var(--background);
  color: var(--foreground);
}

.library-dashboard.dark,
.dark .library-dashboard,
.dark body:has(.library-dashboard) [data-mobile='true'][data-sidebar='sidebar'],
.dark body:has(.library-dashboard) [data-slot='dropdown-menu-content'],
.dark body:has(.library-dashboard) [data-slot='sheet-content'],
.dark body:has(.library-dashboard) [data-slot='tooltip-content'] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #ff5150;
  --primary-foreground: #ffffff;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: var(--secondary);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: #ff5150;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --input-placeholder: oklch(0.72 0.04 269);
}

body:has(.library-dashboard) [data-slot='tooltip-content'] {
  background-color: var(--foreground) !important;
  color: var(--background) !important;
}

body:has(.library-dashboard) [data-slot='tooltip-content'] > svg {
  background-color: var(--foreground) !important;
  fill: var(--foreground) !important;
}

.library-dashboard .bg-input {
  background-color: var(--input);
}

.library-dashboard input::placeholder,
.library-dashboard textarea::placeholder {
  color: var(--input-placeholder);
}

.library-dashboard * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.library-dashboard *::-webkit-scrollbar {
  display: none;
}

/* custom classes */
.no-scrollbar,
.no-scrollbar * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar,
.no-scrollbar *::-webkit-scrollbar {
  display: none;
}